img {
    display: block;
    margin: 0 auto;
}



* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;


}



.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: 50px auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




p{ 
	font-size: 1.2em;
	line-height: 1.3em; 
	text-align: justify;
}

h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }

a{
	color: white;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */



body{

		   background: url(https://s-media-cache-ak0.pinimg.com/originals/f1/57/c4/f157c4d5789adbb9e571759bfa06c7cc.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
   
    font-family: arial; 
    font-size: 80%; 
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 

}
/* you can put your code all in one line like above */
#page{ margin: 20px; }

/* or on different lines like below */
#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
#nav{
	
	display: inline-block;
	text-align: left;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 40px;
		}
			#nav ul li a{
				padding: 10px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 300px 0;
	background: white;
	padding: 200px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 90%;
		color: grey;
		margin-bottom: 20px;
	}
	#footer a{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
		
	}

/* multiple styles seperated by a , */
	#content,
		ul li a{ box-shadow: 0px 1px 1px #999; }



	div.para{
		/* background-image: url("http://img.freepik.com/free-vector/technological-background-with-connected-lines_1017-7096.jpg?size=338&ext=jpg"); */
		  background-image: url('https://inspirationhut.net/wp-content/uploads/2013/05/52.png');
  			font-size: 15px;
		   font-family: "Times New Roman", Times, serif;
		  
		color: black;
		margin:70px 100px 20px 100px;
		padding: 50px; 

	}

div.para,
			ul li a{ box-shadow: 0px 1px 20px #999; }






.navbarbot {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbarbot a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}








.b{
	text-align: right;

}
.foo{
	margin: 100px 0;
	padding: 20px;
	color: white;
	 background-color: #333;
}


.pad{
	
	margin: 45px 0px 0px 0;
}





 .navbartop {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbartop a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}




a:active {
    color: green;







